#calculator{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 4px;
    height: 527px;
    width: 245px;
}
#data{
    box-sizing: border-box;
    width: 193px;
    margin:45px 0px 40px 25px;
}
.buttonbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.btn{
   
    width: 62px;
    height: 60px;
    text-align: center;
}